name: Build and push Docker image to Docker Hub
on:
  push:
    branches: [ main ]        # rebuild on pushes to main; change as needed
    # tags: ['v*']           # optionally build on tags

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch if needed)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ananiya0jemberu
          password: dckr_pat_akFPqjrzbm0PiFz91-DGoYSGJJw

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ananiya0jemberu/mycdp:dev2
